body {
    background-color: black;
    color: white;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    padding: 10vh 0;
}

form#interact {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10vh;
}

form#interact > button {
    font-size: 3rem;
    border: none;
    border-radius: 10%;
    background-color: indigo;
    padding: 0 35px;
}