<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script> 
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='./scripts/script.js') }}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/stylesheet.css') }}">
</head>
<body>
    <h1 id="mobile-count">Mobile Count: <span></span></h1>
    <h1 id="web-count">Web Count: <span></span></h1>
    <form id="interact">
        <button type="button" id="decrement">-</button>
        <button type="button" id="increment">+</button>
    </form>
    <h2 id="log">Logs</h2>
        <ul></ul>
    <form id="disconnect">
        <input type="submit" value="Disconnect">
    </form>
</body>
</html>